form{
    background-color: blanchedalmond;
    margin-left: 30%;
    margin-right: 30%;
}

.loggin{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.knapp{
    display: flex;
    justify-content: center;
    gap: 3vw;
    

}

label{
    color: black;
}

.nullstillknapp{
    border-radius: 8px;
    color: black;
    border-color: wheat;
    background-color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.logginknapp{
    border-radius: 8px;
    color: black;
    background-color: green;
    border-color: wheat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* For å plassere knappene */
.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loggutknapp {
    background-color: red;
    
}